#sidebar_line {
    position: sticky;
    top: 0;
    width: 5px;
    min-width: 5px;
    height: 100vh;
    max-height: 100%;
    min-height: 100%;
    background-color: #111;
    z-index: 999;
}

.col_resize {
    cursor: col-resize;
}

#sidebar_button {
    position: relative;
    top: 44%;
    right: 0;
    width: 20px;
    min-width: 20px;
    height: 70px;
    background-color: #111;
    border-radius: 0 8px 8px 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar_arrow {
    width: 10px;
    height: 10px;
    border-top: solid 2px #ccc;
    border-right: solid 2px #ccc;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.sidebar_arrow_re {
    transform: rotate(-135deg) !important;
}

#sidebar {
    position: sticky;
    top: 0;
    width: 0px;
    min-width: 0px;
    height: 100vh;
    background-color: #111;
    color: #ccc;
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar_transition {
    transition: all 0.5s;
}
.sidebar_display_none {
    display: none;
}
#sidebar_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 8px 80px 8px;
    box-sizing: border-box;
}
#liveProgramContainer {
    display: flex;
    flex-wrap: wrap;
}

.sidebar_header {
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.sidebar_header_item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_header_item a {
    color: #fff;
    text-decoration: none;
}
.sidebar_header_item_col {
    min-width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_header_item_col img {
    height: 18px;
    filter: invert(59%) sepia(3%) saturate(11%) hue-rotate(22deg) brightness(91%) contrast(93%);
}

.sidebar_header_item_col:hover img {
    filter: invert(63%) sepia(98%) saturate(12%) hue-rotate(70deg) brightness(109%) contrast(92%);
}

.sidebar_body {
    position: relative;
}

#program_count {
    margin-left: 10px;
    padding: 1px;
    min-width: 30px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #f00;
    border-radius: 30px;
    display: inline-block;
    box-sizing: border-box;
}

.program_container {
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.program_container .community {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.program_container .community a {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    overflow: hidden;
}
.program_container .community img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.program_container .community .community_name {
    padding-left: 7px;
    width: 100%;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    box-sizing: border-box;
}

.program_container .program_thumbnail {
    position: relative;
    width: 100%;
    /* height: 100%; */
    background-color: #000;
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16/9;
}
.program_container .program_thumbnail a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.program_container .program_thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.program_container .program_title {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#api_error {
    margin: 20px 0;
    text-align: center;
    display: none;
}
#api_error a {
    color: #388bff;
}




/* オプションコンテナ */
#optionContainer {
    width: 100%;
    height: 0px;
    overflow: hidden;
}
#optionContainer .container {
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #222;
}

#optionContainer h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 0 1.5rem;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #0077ff;
    padding-bottom: 0.3rem;
}

#optionContainer h2 {
    margin: 2rem 0 1rem;
    padding: 0 1.0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border-left: 10px solid #0077ff;
}

#optionContainer p {
    margin: 1rem 0;
}

#optionContainer ul {
    margin: 1rem 0;
    padding-left: 2rem;
}

li {
    margin: 0.5rem 0;
    font-size: 14px;
}
#optionContainer .flex {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.5rem 0;
}

#optionContainer .setbox {
    align-items: start;
    margin: 0.5rem 0 1rem;
}
#optionContainer .setbox p {
    margin: 0.5rem 0;
}

#optionContainer .inputbox {
    width: 13rem;
    max-width: 13rem;
    min-width: 13rem;
}

#optionContainer label {
    display: inline-block;
    width: 5rem;
    margin-right: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

#optionContainer input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 10rem;
    outline: none;
}

#optionContainer input[type="radio"] {
    margin-right: 0.5rem;
    cursor: pointer;
}

